* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wapper {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 1200px;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px;
  /* border: 2px solid black; */
  margin: 20px 20px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}

input[type='text'] {
  width: 205px;
  height: 32px;
  padding-left: 5px;
  font-size: 16px;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 0;
  outline: none;
}

.btn-add {
  transition: all 0.1s;
  width: 80px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  background-color: #136dee;
  border-radius: 3px;
}

.tx-del {
  user-select: none;
  cursor: pointer;
  color: #788fc7;
}

.btn-add:active {
  background-color: #0060aa;
}

table {
  width: 520px;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  height: 40px;
  border-bottom: 2px solid #ddd;
}

.hl {
  color: red;
}

.all {
  font-weight: bold;
}

.echarts-box {
  /* margin-top: 20px; */
  margin-top: 20px;
  width: 580px;
  height: 350px;
  border: 2px solid #ddd;
  border-radius: 5px;
}